/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
main {
	width: 900px;
	text-align: center;
	margin-top:10px;
	margin-left: 16%;
}

a{
	display: inline-block;
	font-style: normal;
	color: darkgray;
	margin-right: 64.75px;
	vertical-align: middle;
}

nav{
	display:inline-block;
	margin-bottom:40px;
	width:900px;
	align-content: center;
}

.logo{	
	vertical-align: middle;
}


header div{
	font-family:'Bangers';
	font-size:4.75em;
	text-align: center;
	display: inline-block;
	margin-bottom:40px;
	margin-top: 20px;
	vertical-align: -webkit-baseline-middle;
	margin-right: 20px;
	margin-left:50px;
}

hr{
	border-width:4px;
}


body section{
	display: inline-block;
	height:100px;
	width:49%;
	text-align: left;
	margin-bottom: 40px;
	margin-top:20px;
}

body section2{
	display: inline-block;
	height:130px;
	width:32%;
	text-align: left;
	margin-bottom: 40px;
	margin-top:30px;
}

body address {
	display: inline-block;
	height:150px;
	width:100%;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left:0%;
}

footer{
text-align: center;
margin-bottom: 20px;
}